.root{
    -fx-background:"black";
    -fx-background-image: url("/pattern1.jpg");
    -fx-background-position: center center;
}

.label {
    -fx-background-color:"black";
    -fx-text-fill: "white";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.vbox{
-fx-background:"white"
}
.hbox{
-fx-background:"white"
}
.scroll-pane {
-fx-background:"black";
-fx-background-image: url("/pattern1.jpg");
}
